<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input #search (keyup)="searchUsers(search.value)" type="text"
               class="form-control" placeholder="Find users">

      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn">

  <div *ngIf='loading' class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Loading..</strong>
      <br>
      <i class='fa fa-refresh fa-spin fa-2x'></i>
      <br>
      <span>Please wait</span>
    </div>
  </div>

</div>

<div *ngIf='!loading' class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <h3 class='card-title'>Registered users: ( <small>{{ totalUsers }}</small> )</h3>

        <table class='table table-hover'>
          <thead>
            <tr>
              <th>Image</th>
              <th>Email</th>
              <th>Name</th>
              <th>Role</th>
              <th>Auth</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let user of users'>
              <td style='width: 50px'>
                <img (click)="_uploadModalService.openModal(user._id, user.img, 'user')" style="width: 50px" class='img-circle pointer'
                     [src]="user.img | images" alt="">
              </td>
              <td>{{ user.email }}</td>
              <td>{{ user.name }}</td>
              <td>
                <select [(ngModel)]="user.role" name="role" class='form-control'>
                  <option value="ADMIN_ROLE">ADMIN_ROLE</option>
                  <option value="USER_ROLE">USER_ROLE</option>
                </select>
              </td>
              <td>
                <label *ngIf="user.google" class="label label-danger">Google</label>
                <label *ngIf="!user.google" class="label label-info">Normal</label>
              </td>
              <td>
                <button (click)="changeRole( user )" class="btn btn-primary mr-2">
                  <i class="fa fa-save"></i>
                </button>
                <button (click)="deleteUser( user )" class="btn btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <button [disabled]="since == 0" (click)="findMoreUsers(-5)" class="btn btn-secondary mr-2">
          Last
        </button>
        <button [disabled]="since + 5 >= totalUsers" (click)="findMoreUsers(+5)" class="btn btn-secondary">
          Next
        </button>

      </div>
    </div>
  </div>
</div>

